<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.backend.comments.mapper.CommentsMapper">

    <!-- 댓글 목록 -->
    <select id="list" resultType="org.example.backend.comments.dto.CommentsVo">
        SELECT *
        FROM comments
        WHERE store_id = #{store_id}
        AND (
        visibility_status IN (1, 2)
        OR
        comment_id IN (
        SELECT reply_id
        FROM comments
        WHERE store_id = #{store_id}
        AND visibility_status IN (1, 2)
        AND reply_id IS NOT NULL
        )
        )
        ORDER BY
        COALESCE(reply_id, comment_id),
        CASE WHEN reply_id IS NULL THEN comment_id ELSE reply_id END,
        comment_id;
    </select>

    <!-- 댓글 조회 (단건) -->
    <select id="selectById" resultType="org.example.backend.comments.dto.CommentsVo">
        select *
        FROM COMMENTS
        WHERE comment_id = #{comment_id}
    </select>

    <!-- 댓글 등록 -->
    <insert id="insert">
        INSERT INTO COMMENTS( store_id, author_id, author_name, content, rating, depth)
        VALUES ( #{storeId}, #{authorId}, #{authorName}, #{content}, #{rating}, 1 )
    </insert>

    <!-- 대댓글 등록 -->
    <insert id="insert_reply">
        INSERT INTO COMMENTS( store_id, author_id, author_name, content, reply_id, depth,rating )
        VALUES( #{storeId}, #{authorId}, #{authorName}, #{content}, #{replyId}, 2 ,0)
    </insert>

    <update id="orderup">
        UPDATE orderinformation SET order_approval_status = 6 WHERE order_id = #{id}
    </update>

    <!-- 댓글 수정 -->
    <update id="update">
        UPDATE COMMENTS
            SET content = #{content},
                rating = #{rating}
        WHERE comment_id = #{commentId}
    </update>

    <!-- 댓글 삭제시 가시성 변경 -->
    <update id="updateCommentVisibility">
        UPDATE COMMENTS
        SET visibility_status = 0
        WHERE comment_id = #{comment_id}
    </update>

    <!-- 대댓글 등록 -->
    <insert id="insertReply">
        INSERT INTO COMMENTS( store_id, author_id, author_name, content, reply_id, depth,rating )
        VALUES( #{storeId}, #{authorId}, #{authorName}, #{content}, #{replyId}, 2 ,0)
    </insert>

    <!-- 대댓글 수정 -->
    <update id="updateReply">
        UPDATE COMMENTS
            SET content = #{content},
                rating = ${rating}
        WHERE comment_id = ${commentId} AND depth = 2
    </update>

    <!-- 대댓글 삭제시 가시성 변경하기 -->
    <update id="updateReplyVisibility">
        UPDATE COMMENTS
        SET visibility_status = 0
        WHERE comment_id = #{commentId} AND depth = 2
    </update>


</mapper>